<!DOCTYPE html>
<HTML>
    <head>
        <title>Projects</title>
        <style>
            h2{
                background-color:aliceblue;
                color:aqua;
                text-align: center;

            }
            ul{
                text-align: left;
            }
            body{
                height: 1000px;
                background: -moz-linear-gradient(top, #9b587b, #85904e);
                background: -webkit-linear-gradient(top, #9b587b, #85904e);
                background: -o-linear-gradient(top, #9b587b, #85904e);
                background: linear-gradient(top, #9b587b, #85904e);
            }
            li{
                text-shadow: 15px;
            }
            h4{
                text-align: center;
            }
            ul{
                text-align: center;
            }
            nav{
    margin-top: px;
    background-color: brown;
    color:black;
    padding:20px ;
}
#AM{
    padding: 20PX;
    margin-left: 150px;
    color: black;
}

p1{
    margin-left: 470px;
}
footer{
    background-color: black;
    color: white;
    margin-top: 30%;
}
        </style>

        
    </HEAD>
    <body>

        <h4>PROJECTS</h4>
        <ul>
            <li>Intro to programming in Python project</li>
            <li>Network design of a building virtually </li>
            <li>Creating websites for as a freelancer </li>
        

            
        </ul>
    </body>
