<!DOCTYPE html>
<html>
    <head>
        <title>About Me</title>
        <style>
            footer{
    background-color: black;
    color: white;
    margin-top: 30%;
}

            body{
                height: 1200px;
                background: -moz-linear-gradient(top, #9b587b, #85904e)!important;
                background: -webkit-linear-gradient(top, #9b587b, #85904e);
                background: -o-linear-gradient(top, #9b587b, #85904e);
                background: linear-gradient(top, #9b587b, #85904e);
            }

h3{
    margin-left: 20px;
    }
nav{
    margin-top: px;
    background-color: brown;
    color:black;
    padding:20px ;
}
#AM{
    padding: 20PX;
    margin-left: 15px;
    color: black;
}
p1{
    margin-left: 20px;
}
#pic1{
    height: 500px;

    margin-left: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: px;
}
           </style>
    </head>
    <body>
   
        <div>
            <img id="pic1" src="Assets/images/pic-2.jpg" >
            <h3> About Myself </h3>
                <p> I am IT student from Ontario Tech University. My ambition is to excel in the field 
                of technology and project management.I aspire to become a proficient Project Manager or 
                IT Manager,leading teams and projects to success. I am driven by a passion for innovation and 
                a desire to leverage my programming skills in Python, HTML, CSS, and JavaScript to develop 
                impactful solutions. 
                   With a strong foundation in both technical and managerial aspects ,I aim to contribute to
                the advancement of technology while ensuring efficient and effective project execution.</p>
            </div>
            <h3>Expertise</h3>
            <p>
                <ul>
                    <li>Microsoft Office</li><br> 
                    <li>PYTHON</li><br>
                    <li>html-css</li><br>
                </ul>
            </p>
   </body>
 