<!DOCTYPE html>
<html>
    <head>
        <title>Portfilio</title>
        <link rel="stylesheet" href="./style.css" type="text/css" >  
    
    </head>
    <body>
    <style>

            body{
                height: 1000px;
                background: -moz-linear-gradient(top, #9b587b, #85904e) !important;
                background: -webkit-linear-gradient(top, #9b587b, #85904e) !important;
                background: -o-linear-gradient(top, #9b587b, #85904e) !important;
                background: linear-gradient(top, #9b587b, #85904e) !important;
                
            }

    #pic1{
    height: 300px;
    margin-left: 50px;
    margin-Right: 50px;
    }
    </style>
             
        <img id="pic1" src=" Assets/images/pic-1.jpg" >
        <div id="VH">
            <h3> A short video for you</h3>
            
        </div>
        <video id="myvid" height="400px" width="380px" margin-left="10px" margin-Right="10px" controls autoplay loop muted >
            <Source src=" Assets/my video 1.mp4" type="video/mp4"></Source>
    
        </video>


    </body>
 